<h3><%= @user.nickname %>さんのフォロワー一覧</h3>
<ul>
  <% @followers.each do |follower| %>
    <li>
      <%= "フォローしています" if current_user.friend?(follower) %>
      <%= link_to follower.nickname, follower, class: "BaseLink" %>
    </li>
  <% end %>
</ul>
