<h2>BBS</h2>
<%= link_to "板作成", :new_board, class: 'pure-button' %>
<ul>
  <% @boards.each do |board| %>
    <li style="list-style:none">
      <h4>
        <%= link_to board.title, [ board, :responses ], class: "BoardLink" %>(<%= board.responses.size %>)
      </h4>
      <small>
        <%= "#{board.created_at.strftime('%Y/%m/%d %H:%M')} 作成" %>
      </small>
    </li>
  <% end %>
</ul>
