<div class="box" style="width:960px">
  <div style="height:488px;width:960px;border solid 1px white;background-color:black">
  </div>
  <div style="height:488px;width:960px;border: solid 1px white;background-color:black">
  </div>
  <!-- <iframe src="http://live.nicovideo.jp/nicoliveplayer.swf?v=lv222344070&#38;amp;languagecode=ja&#45;jp" frameborder="0" height="488px" width="960px"> -->
  <!--   <embed type="application/x&#45;shockwave&#45;flash" src="http://live.nicovideo.jp/nicoliveplayer.swf?v=lv222344070&#38;amp;languagecode=ja&#45;jp" name="plugin" height="100%" width="100%"> -->
  <!-- </iframe> -->
  <!-- <iframe src="http://live.nicovideo.jp/nicoliveplayer.swf?v=lv222344070&#38;amp;languagecode=ja&#45;jp" frameborder="0" height="488px" width="960px"> -->
  <!--   <embed type="application/x&#45;shockwave&#45;flash" src="http://live.nicovideo.jp/nicoliveplayer.swf?v=lv222344070&#38;amp;languagecode=ja&#45;jp" name="plugin" height="100%" width="100%"> -->
  <!-- </iframe> -->
</div>
<div class="box">
  <div style="height:300px;width:400px;border: solid 1px;">
    <h1>部屋管理</h1>
  </div>
  <div class="commentBox">
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  </div>
</div>
