.box {
  display:inline-block;
  font-size:16px;
  vertical-align:top
}

.comment-field {
  overflow-y: scroll;
  width: 400px;
  height: 700px;
}

.CommentFormTextArea {
  width: 400px;
}

.prepareFormField {
  position: relative;
  top: 200px;
  left: 200px;
  width: 500px;
  height: 50px;
  text-align: center;
}

.prepareblock {
  height: 488px;
  width: 960px;
  border: solid 1px white;
  background-color: black;
}

.broadcastsField {
  width: 960px;
}

.RemoveButton {
  float: left;
}

.ButtonFilter {
  display: inline-block;
  padding: 10px;
  background-color: #c44558;
}

#RightSideButton {
  position: fixed;
  top: 10px;
  right: 280px;
}

#menuLink {
  display: none;
}
