.alert {
  width: 100%;
  height: 22px;
}

.alert-error {
  text-align: center;
  color: #fff;
  background-color: #d13c38;
  border-radius: 2px;
  margin-bottom: 1em;
  font-size: small;
}

.alert-info {
  text-align: center;
  color: rgb(102, 131, 145);
  background-color: rgb(209, 235, 238);
  border-radius: 2px;
  margin-bottom: 1em;
  font-size: small;
}
